*{
    background-image: url(../images/dark-honeycomb.png);
}
html{
    /* overflow: -moz-scrollbars-vertical;  */
    overflow-y: scroll;
}
.tag{
    
    color:#ffffff;
    padding:2%;
    background-color: #3e5f85;
    background-image: linear-gradient(315deg, #3e5f85 0%, #0d324d 74%);
}
#gif-house{
    margin: 0 10% 0 10%;
}
.gifs{
    text-align: center;
    max-height:200px;
    max-width:200px;
    padding:1%;
}
