
.day{
    background-color:#ffffff;
    color:black;

}
.night{
    background-color:black;
    color:#ffffff;

}
html{
    /* overflow: -moz-scrollbars-vertical;  */
    overflow-y: scroll;
}
.tag{
    
    color:#ffffff;
    padding:2%;
    background-color: #3e5f85;
    background-image: linear-gradient(315deg, #3e5f85 0%, #0d324d 74%);
}
#gif-house{
    margin: 0 10% 0 10%;
}

.rating-text{
    font-weight: bold;
    padding:1%;
}
.grid {
    max-width: 75.000em;
  }

.grid:after {
    content: '';
    display: block;
    clear: both;
  }
.grid-item {
    float: left;
    width: 11.250em;
    height: 10.000em;
    padding:1%;
    
  }

.grid-item--width2 { width: 16.250em; }
.grid-item--width3 { width: 22.500em; }


.grid-item--height2 { height: 16.250em; }
.grid-item--height3 { height: 22.500em; }

.gifs{
    max-width: 11.250em;
    max-height: 10.000em;
    padding:1%;

  }
.gif-holder{
    text-align: center;
    padding:1%;
}
#to-top{
    position: fixed;
    bottom:0%;
    text-align: center;
    
    padding:0.5%;
    background-color: #3e5f85;
    background-image: linear-gradient(315deg, #3e5f85 0%, #0d324d 74%);

}
#theme-button{
    float:right;
}


