header {
  text-align: center;
}

.day {
  background-color: #edf7ff;
  color: black;
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;

}

.night {
  background-color: #292c2e;
  color: #ffffff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

html {
  /* overflow: -moz-scrollbars-vertical;  */
  overflow-y: scroll;
}

.tag {
  border-radius: 1em;
  border-style: none;
  color: #ffffff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  padding: 1%;
  margin: 1%;
  background-color: #226e81;

}


.rating-text {
  font-weight: bold;
  margin: 1%;
}

.grid {
  max-width: 75.000em;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  width: 11.250em;
  height: 10.000em;

  margin: 1%;

}

.gifs {
  width: 100%;
  max-width: 22.500em;
  height: 100%;
  max-height: 22.500em;
  transition: transform .2s;
  /* Animation */
}

.gifs:hover {
  width: 100%;
  height: auto;
  transform: scale(2.5);
  

}

.gif-holder {
  text-align: center;
  padding: 1%;
}

#to-top {
  border-radius: 1em;
  border-style: none;
  position: fixed;
  bottom: 0%;
  text-align: center;

  padding: 0.5%;
  color: #ffffff;
  background-color: #226e81;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;


}

#theme-button {
  float: right;
  border-style: none;
  background-color: #ffffff;
  border-radius: 1em;
}

@media (min-width: 481px) and (max-width: 767px) {
  .grid-item {
    width: 8.250em;
    height: 7.000em;
    margin-bottom:2.5%;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  .grid-item{
    width: 7.250em;
    height: 6.000em;
    margin-bottom:5.5%;
  }
  .tag{
    font-size:10px;
  }
}
